:root {
    font-size: 16px;
    overflow-y: scroll;
}

header {
    background-color: #475569;
    color: white;
}

body {
    background-color: #f1f5f9;
}

* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
}

nav > ul {
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 1.2rem;
}

header > *{
    margin: 16px;
}

#menu-page {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: clamp(8px, 5vw, 100px);
    row-gap: 64px;
    padding: 64px clamp(8px, 15vw, 400px);
}

.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card > h2 {
    margin: 8px;
}

.card > p {
    margin: 0 32px 32px;
}

.card > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
}

.card > h2 {
    text-align: center;
}

#img-0 {
    object-position: 50% 78%;
}

#img-2 {
    object-position: 50% 65%;
}